<html>
  <h3>
    <p>Hearthstone Search</p>
    <p><a href='/'>New Search</a></p>
  </h3>

  <body>
    Filter: <br>
    <table>
      <% @params.each do |k,v| %>
      <tr>
	<td><%= "#{k}: " %></td>
	<td><%= "#{v}" %></td>
      </tr>
      <% end %>
    </table>
    <br>
    <% if @cards.empty? %>
    No results found!
    <% else %>
    <% @cards.each do |card| %>
    <table>
      <td><img src=<%= "#{card['image']}" %> width='250'></td>

      <td>
	<table>
	  <tr>
	    <td>Name: </td>
	    <td><%= "#{card['name']}" %></td>
	  </tr>
	  <tr>
	    <td>Type: </td>
	    <td><%= "#{card['cardTypeId']}" %></td>
	  </tr>
	  <tr>
	    <td>Rarity: </td>
	    <td><%= "#{card['rarityId']}" %></td>
	  </tr>
	  <tr>
	    <td>Set: </td>
	    <td><%= "#{card['cardSetId']}" %></td>
	  </tr>
	  <tr>
	    <td>Class: </td>
	    <td><%= "#{card['classId']}" %></td>
	  </tr>
	</table>
      </td>
      <% end %>
    </table>
    <br>
    <% end %>
  </body>
</html>
